/* contect page css code here */
/* Contact.module.css */
.container {
    padding-top: 50px;
   box-sizing: border-box;
   
  }
  
  .header {
    padding-top: 90px;
  }
  
  .headerTitle {
    text-align: center;
    color: white;
    /* margin-left: 43%; */
    font-size: 25px;
    font-weight: bold;
    font-family: 'serif';
  }
  
  .headerSubtitle {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    /* margin-left: 41%; */
    font-family: 'serif';
    letter-spacing: 0.3em;
    font-size: 15px;
   
    
  }
  
  .contactTitle {
    color: #facc15; /* yellow color */
    
    padding-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .formWrapper {
    padding-bottom: 90px;
  }
  /* contectForm css here */
  /* ContactForm.module.css */
.formContainer {
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
  }
  
  .errorMessage {
    color: #f87171; /* red */
  }
  
  .successMessage {
    color: #facc15; /* yellow */
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    color: #af3cff; /* purple color */
  }
  
  .inputField {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submitButton {
    background-color: #af3cff; /* purple color */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  /* ****************************** */
  .information{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  @media (min-width: 768px) {
    .information{
   padding: 10px;
  } 
}

.infoText {
  font-size: 17px;
  color: white;
  opacity: 0.75;
}

.infoHeading {
  margin-top: 0.6rem;
  padding: 2px;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 3.5rem;
}
/* .formGrid {
  text-align: center;
 
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
} */

@media (min-width: 768px) {
  .infoHeading {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .infoHeading {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .infoHeading {
    font-size: 33px;
  }
}

.brandHighlight {
  color: #f59e0b; /* yellow-600 */
}

.contactEmail {
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 30px;
  color: yellow ;
  font-weight: 600;
}



@media (max-width: 640px) {
  .brandHighlight{
    font-size: 20px;
  }
  .contactEmail{
  
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 18px;
    color: #fbbf24; 
    font-weight: 400;
    padding: 0 10px;
  }
  
} 








  
  